<header class="d-flex flex-wrap justify-content-between py-2 mb-2 bg-dark">
  <a href="/" class="d-flex align-items-center text-white">
    <i class="bi bi-envelope-paper-fill m-2" role="img" aria-label="Home icon"></i>
    <span class="fs-4">Sistema de Votação</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/election/list" class="text-white">Eleições</a>
    </li>
    <li class="nav-item">
      <a routerLink="/candidates/list" class="text-white">Candidatos</a>
    </li>
  </ul>
</header>
