<h2 class="pb-2 border-bottom">Bem vindo ao sistema de votações</h2>

<div class="row d-flex flex-grow-1 h-100 row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">

  <div class="col h-100 d-flex flex-column">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://c.pxhere.com/images/3d/ff/d6dae2f057d9f336aa9d4c8639d2-1444335.jpg!d');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Eleições</h2>
        <ul class="d-flex list-unstyled justify-content-between mt-auto">
          <li class="d-flex align-items-center">
            <i class="bi bi-list" ></i>
            <small>Listagem</small>
          </li>
          <li class="d-flex align-items-center">
            <i class="bi bi-card-text" ></i>
            <small>Cadastro</small>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col h-100 d-flex flex-column">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://c.pxhere.com/images/d4/8b/4c5306ef4b1442a2b0c9f26ccfff-1583705.jpg!d');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Candidatos</h2>
        <ul class="d-flex list-unstyled justify-content-between mt-auto">
          <li class="d-flex align-items-center">
            <i class="bi bi-list" ></i>
            <small>Listagem</small>
          </li>
          <li class="d-flex align-items-center">
            <i class="bi bi-card-text" ></i>
            <small>Cadastro</small>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
